[Desktop Entry]
Type=Application
Name=Affichage Tir
Exec=sleep 10 && chromium --autoplay-policy=no-user-gesture-required --check-for-update-interval=31536000 --kiosk http://localhost/display
X-GNOME-Autostart-enabled=true
